<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  <base href="/"></base>
    <meta th:replace="layout_header" />
    <title ng-bind-template="通际金粉"></title>
  </head>
  <body>
  <div class="container-fluid">
	  <div class="row">
	  <br></br>
	  </div>
     <div class="row">
	  	<div class="row">
		  	<div class="col-xs-2 col-sm-2">
		  	</div>
	      	<div class="col-xs-8 col-sm-8">
	      	<span >你的微信还没有关注“通际金粉”，关注“通际金粉”，玩转互联网金融，电商</span><br/>
	      	<span >关注“通际金粉”，玩转互联网金融，电商</span><br/>
	      	<span >关注方法：</span><br/>
	      	<span >1、按住图片自动识别二维码</span><br/>
	      	<span >2、微信添加朋友，搜索“通际金粉”</span><br/>
	      	<span >3、手机扫一扫下方的二维码</span><br/>
	      	<br></br>
	      	<img src="/image/tongjierweima.jpg" alt="..."></img><br/>
	      	<br></br>
	      	<span >通际金粉微信号：tongjijinfen</span><br/>
	      </div>
	      <div class="col-xs-2 col-sm-2">
		  </div>
    	</div>
    	<div class="row">
		  	<div class="col-xs-2 col-sm-2">
		  	</div>
	      	<div class="col-xs-8 col-sm-8">
	      	
	      </div>
	      <div class="col-xs-2 col-sm-2">
		  </div>
    	</div>
	</div>
	</div>
  </body>
</html>
