<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  <base href="/"></base>
    <meta th:replace="layout_header" />
    <title ng-bind-template="通际金粉"></title>
  </head>
  <body  ng-app="tongji">
     <div ng-controller="tongjiMainCtrl as tjmain">
	      <div class="ng-view"></div>
	      <div class="container-fluid">
	  <div class="row">
	  <br></br>
	  </div>
     <div class="row">
	  	<div class="row">
		  	<div class="col-xs-1 col-sm-1">
		  	</div>
	      	<div class="col-xs-5 col-sm-5">
	      	<a href="/cardcentre/handlecardpre">
	      	<img src="/image/handleCardCentre.png" alt="..."></img>
	      	<h3><span class="label label-default">办卡专区</span></h3>
	        </a>
	      </div>
	      <div class="col-xs-5 col-sm-5">
	      <a href="/cardcentre/applycardcondition">
	      <img src="/image/applyCondition.png" alt="..."></img>
	      <h3><span class="label label-default">申请条件</span></h3>
	        </a>
	      </div>
	      <div class="col-xs-1 col-sm-1">
		  	</div>
    	</div>
    	<div class="row">
    		<div class="col-xs-1 col-sm-1">
		  	</div>
	      	<div class="col-xs-5 col-sm-5">
	      	<a href="/cardcentre/handlecardstrategy">
	      	<img src="/image/handleCardStrategy.png" alt="..."></img>
	      	<h3><span class="label label-default">办理攻略</span></h3>
	        </a>
	      </div>
	      <div class="col-xs-5 col-sm-5">
	      	<a href="/cardcentre/whiteuserstrategy">
	      	<img src="/image/newHandStrategy.png" alt="..."></img>
	      	<h3><span class="label label-default">白户攻略</span></h3>
	        </a>
	      </div>
	      <div class="col-xs-1 col-sm-1">
		  </div>
    	</div>
	</div>
	<br></br>
	<br></br>
	<br></br>
	<div class="row">
	<div class="col-xs-2 col-sm-2">
		  	</div>
		  	<div class="col-xs-8 col-sm-8">
		  	<div class="row" align="centre">
		  	<p align="center">广州通际商务咨询有限公司</p>
		  	<br></br>
		  	<p align="center">粤ICP备16032057号</p>
		  	</div>
		  	</div>
		  	<div class="col-xs-2 col-sm-2">
		  	</div>
	</div>
	</div>
	
	    <div th:replace="layout_footer"></div>
    </div>
  </body>
</html>
<script src="http://vjs.zencdn.net/5.4.6/video.js"></script>
<script src="/app/AppProviders.js"></script>
