<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"></meta>
<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
<link href="/css/bootstrap-theme.min.css" rel="stylesheet" ></link>
<link href="/assets/css/docs.min.css" rel="stylesheet"></link>
<link href="/css/datebar.css" rel="stylesheet"></link>
<link href="http://vjs.zencdn.net/5.4.6/video-js.css" rel="stylesheet"></link>
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/angularjs/angular.min.js"></script>
<script src="/angularjs/angular-route.min.js"></script>
<script src="/angularjs/angular-animate.min.js"></script>
<script src="http://vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js"></script>