<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongjijinfeng.finance.dao.service.WeChatDao">
   
   <insert id="insertWeChatUser">
       insert into wechat_account values(#{openid},#{nickname},#{sex},#{province},#{city},#{country},#{headimgurl},,#{privilege},,#{unionid},,sysdate,sysdate)
   </insert>
   
</mapper>
